@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
}

/* Beautiful coffee-inspired login page */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: white;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

.login_page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #5b2e63 0%, #9e5c4c 100%);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 380px;
  transition: all 0.3s ease;
}
.login-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.login-title {
  text-align: center;
  color: #000000;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 15px;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 6px;
}

.input-group input {
  padding: 12px 14px;
  border: 1px solid #c2a77e;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input:focus {
  border-color: #a0782c;
  box-shadow: 0 0 0 3px rgba(160, 120, 44, 0.2);
}


.login-button {
  background: #25054e;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
}

.login-button:hover {
  background: #0f2188;
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-text {
  color: #d8000c;
  text-align: center;
  font-size: 14px;
  background: #ffe6e6;
  border-radius: 8px;
  padding: 8px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 40px;
  border-bottom: 5px solid rgb(197, 72, 0);
}


.dashboard{
  margin: 20px 40px 100px 40px;
}

.dashboard h1{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.dashboard .container{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  margin: auto;
}
.dashboard .box{
  background-color: rgb(243, 109, 20);
  width: 250px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.navigation .left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_logo{
  width: 40px;
}

.navigation .right .button-list button{
  margin-left: 20px;
  cursor: pointer;
  font-weight: 500;
}
.navigation .right .button-list button:hover{
  color: rgb(56, 56, 56);
}


.navigation .logout{
  background-color: rgb(180, 4, 4);
  padding: 5px 18px;
  border-radius: 5px;
  color: white;
}

.inventory_container{
  margin: 12px 40px 2px 40px;
}

.inventory_container h1{
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  
}

.inventory_container .line1{
  width: 90%;
  margin: auto;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.inventory_container .line1 h2{
  font-size: 17px;
  font-weight: bold;
  
}

.inventory_container .line1 button{
  background-color: green;
  margin-right: 5px;
  padding: 6px 20px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.inventory_container .line2{
  width: 90%;
  margin: auto;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.inventory_container .line2 button{
  background-color: rgb(109, 49, 0);
  margin-right: 5px;
  padding: 6px 20px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}
.inventory_container .list_details{
  background-color: rgb(3, 141, 33);
  width: 300px;
  top: 152px;
  position: absolute;
  right: 94px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.inventory_container .list_details ul{
  height: 240px;
  overflow-y: scroll;
}

.inventory_container .new-Inventory-button{
  background-color: rgb(207, 111, 1);
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  
}

.inventory_container .list_details h3{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.inventory_container .list_details li{
  background-color: rgb(151, 151, 151);
  padding: 5px 20px;
  border-radius: 2px;margin-top: 3px;
}

.inventory_container .table{
  margin: auto;
  width: 90%;
  background-color: rgb(243, 109, 20);
  border-radius: 3px;
  padding: 10px;
}
.inventory_container .head-columns{
  display: grid;
  grid-template-columns: 1fr 90px 90px 90px 100px;
}

.inventory_container .head-columns div{
  margin: 0 2px;
  border-right: 1.5px solid rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.inventory_container .data-table{
  margin: auto;
  border-radius: 3px;
  padding: 10px;
  overflow-y: scroll;
  margin-top: 5px;
  width: 90%;
  background-color: rgb(204, 204, 204);
  height: 260px;
}

.inventory_container .data-columns{
  display: grid;
  grid-template-columns: 1fr 90px 90px 90px 100px;
}

.inventory_container .data-columns div{
  margin: 3px 2px;
  border-right: 1.5px solid rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 00;
  color: rgb(0, 0, 0);
}

.inventory_container .data-columns img{
  display: flex;
  justify-content: center;
  width: 30px;
  margin-left: 30px;
  
}
.inventory_container .data-columns input{
  background-color: rgb(148, 148, 148);
  padding: 2px 2px;
  color: rgb(22, 22, 22);
}
.inventory_container .data-columns .save{
  background-color: rgb(5, 187, 29);
  color: white;
  padding: 3px 0;
  border-radius: 3px;
  margin: 0 5px;
}

.petty-cash-container{
  margin: 20px 40px 2px 40px;
}

.petty-cash-container .line1{
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
  align-items: center;
}

.petty-cash-container h1{
  font-size: 19-px;
  font-weight: 600;
  
}

.petty-cash-container .line1 button{
  background-color: rgb(11, 138, 32);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 4px;
}

.petty-cash-container .table{
  margin: auto;
  width: 90%;
  background-color: rgb(243, 138, 68);
  border-radius: 3px;
  padding: 10px;
}

.petty-cash-container .head-columns{
  display: grid;
  grid-template-columns: 130px 1fr 150px;
}

.petty-cash-container .head-columns div{
  margin: 0 2px;
  border-right: 1.5px solid rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 700;
  color: rgb(29, 29, 29);
}

.petty-cash-container .data-table{
  margin: auto;
  background-color: rgb(204, 204, 204);
  border-radius: 3px;
  padding: 10px;

  margin-top: 5px;
  width: 90%;
}
.petty-cash-container .data-columns{
  display: grid;
  grid-template-columns: 130px 1fr 150px; 
}

.petty-cash-container .history-container{
  background-color: rgb(10, 141, 27);
  position: absolute;
  right: 90px;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: -14px;

}

.petty-cash-container .history-container .create_new_pettyCash{
  background-color: rgb(235, 115, 4);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
}
.petty-cash-container .history-container .create_NewSave{
  background-color: rgb(1, 196, 34);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.petty-cash-container .history-container .form_create-pettyCash{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.petty-cash-container .history-container .form_create-pettyCash .box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.petty-cash-container .history-container .form_create-pettyCash div{
  margin-right: 10px;
  font-weight: 600;
  width: 100px;
}

.petty-cash-container .history-container .form_create-pettyCash input{
  margin-bottom: 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #dadada3b;
}

.petty-cash-container .history-container .listOfPettycash{
  background-color: rgb(0, 105, 18);
  padding: 4px 5px;
  border-radius: 4px;
}

.add-expense{
  position: absolute;
  top: 150px;
  left: 89px;
  display: flex;
  align-items: center;
 
}

.add-expense form{
  background-color: rgb(31, 128, 2);
  color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}
.add-expense form h2{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.add-expense form .box{
  display: grid;
  grid-template-columns: 120px 1fr;
  margin-top: 10px;

}
.add-expense form .box input{
  background-color: rgb(233, 233, 233);
  padding: 4px 10px;
  border-radius: 4px;
  color: black;
  
}
.add-expense form button{
  background-color: rgb(250, 112, 57);
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 6px;
  font-weight: 700;
}

.ingredients{
  margin: 10px 40px 2px 40px;
}

.ingredients h1{
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.ingredients .addButton{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 5px auto;
}

.ingredients .addButton button{
  background-color: green;
  padding: 3px 30px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}
.ingredients .head-table{
  width: 90%;
  overflow-x: hidden;
  margin: auto;
  background-color: rgb(243, 109, 20);
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 270px 250px 180px 90px 30px;
  border-radius: 4px;
}

.ingredients .head-table div{
  color: white;
  border-right: 2px solid black;
  margin-left: 10px;
}

.ingredients .container-chil-table{
  padding: 5px 0;
  height: 300px;
  overflow-y: scroll;
  margin-top: 5px;
}

.ingredients .child-table{
  width: 90%;
  overflow-x: hidden;
  margin: auto;
  background-color: rgb(204, 204, 204);
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 270px 250px 180px 90px 30px;
  border-radius: 4px;
  margin-top: 5px;
} 

.ingredients .child-table div{
  align-items: center;
  display: flex;

}

.ingredients .child-table input{
  background-color: rgb(156, 156, 156);
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 4px;
  color: rgb(43, 43, 43);
}

.ingredients .child-table .saveButton{
  background-color: rgb(5, 187, 29);
  color: white;
  padding: 3px 0;
  border-radius: 3px;
  margin: 0 5px;
  width: 60px;
}